<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>vStacks-dev.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>vStacks-nosign.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>vStacks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1437051A187B87690007BDE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14370541187B876A0007BDE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14D3AE6318EC76B900C69C48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14D3AEAC18EC76C500C69C48</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
